src/
pkg/
*.AppImage
*.pkg.tar.zst
.SRCINFO
code-work-bin-*.png
code-work-bin-*-LICENSE
code-work-nightly-bin-*.png
code-work-nightly-bin-*-LICENSE
t3code-bin-*.png
t3code-bin-*-LICENSE
t3code-nightly-bin-*.png
t3code-nightly-bin-*-LICENSE
