src/
pkg/
*.AppImage
*.pkg.tar.zst
.SRCINFO
code-work-bin-*.png
code-work-bin-*-LICENSE
code-work-nightly-bin-*.png
code-work-nightly-bin-*-LICENSE
codework-bin-*.png
codework-bin-*-LICENSE
codework-nightly-bin-*.png
codework-nightly-bin-*-LICENSE
